{% extends 'index_main.html' %}
{% load static %}



{% block main %}



    <!-- slider-start -->
    <div class="slider-area pos-relative">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/slider/slider3.jpg' %});">
                <div class="container">
                    <div class="carousel-caption d-none d-block bg-color-carousel">
                            <h5 class="carousel-cpt pb-2">CII IWN Annual Leadership Conclave 2022</h5>
                            <p class="carousel-cpt-desc">Dr (Smt) Tamilisai Soundararajan, Hon’ble Governor of Telangana and Hon´ble Lt. Governor of Puducherry addressing at the CII IWN Telangana Annual Leadership Conclave 2022 held in Hyderabad on 14 October 2022</p>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/slider/slider2.jpg' %});">
                <div class="container">
                    <div class="carousel-caption d-none d-block bg-color-carousel">
                            <h5 class="carousel-cpt pb-2">CII IWN Annual Leadership Conclave 2022</h5>
                            <p class="carousel-cpt-desc">Dr (Smt) Tamilisai Soundararajan, Hon’ble Governor of Telangana and Hon´ble Lt. Governor of Puducherry addressing at the CII IWN Telangana Annual Leadership Conclave 2022 held in Hyderabad on 14 October 2022</p>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/slider/slider1.jpg' %});">
                <div class="container">
                    <div class="carousel-caption d-none d-block bg-color-carousel">
                            <h5 class="carousel-cpt pb-2">CII IWN Annual Leadership Conclave 2022</h5>
                            <p class="carousel-cpt-desc">Dr (Smt) Tamilisai Soundararajan, Hon’ble Governor of Telangana and Hon´ble Lt. Governor of Puducherry addressing at the CII IWN Telangana Annual Leadership Conclave 2022 held in Hyderabad on 14 October 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-end -->
    <!-- about start -->
    <div id="about" class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="about-title-section mb-30">
                        <h1 id="about">About CII</h1>
                        <p class="load">The Confederation of Indian Industries is a perfect amalgam of intellectuals from various industrial domains, who play a very important role in enhancing efficiency, competitiveness, and business opportunities for Industries. The CII is an organization that aims to create and sustain a realm, instrumental in the development of India, partnering industries, government, and civil society through advisory, consultative processes, and by workingin the vicinity of government on policy issues.</p>
                        <p class="load">CII has been on a journey of evolution for more than 125 years with the goal of providing an edge to India’s development paradigm and transforming the engagement of Indian industries in national development.</p>
                        <p class="load"> It is a non-government, not-for-profit, industry-led, and managed organization commemorating around 9000 members from the private as well as public sectors, including SMEs and MNCs, and an indirect membership of over 300,000 enterprises from 286 national and regional sectoral industry bodies.</p>
                        <p class="load">CII stretches its objective beyond the circumference of business, as it assiststhe industries to identify and execute corporate citizenship programs and various other integrated and inclusive development programs across diverse domains including affirmative action, livelihoods, diversity management, skill development, empowerment of women, and sustainable development, to name a few.</p>
                        <button class="theme-btn blue-bg-border mt-20 load-more"><span class="btn-text">More</span></button>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="about-right-img">
                        <img src=" {% static 'img/about/about_cii.jpg' %} " width="100%" alt="">
                    </div>
                </div>
            </div>
            {% comment %} <div class="row pt-65">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="feature-wrapper mb-30">
                        <div class="feature-title-heading">
                            <h3>Scholarship Facility</h3>
                            <span>01</span>
                        </div>
                        <div class="feature-text">
                            <p>Sorem ipsum dolor sitcon sectet adipis icing elit sed do eiusmod tems. incididune.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="feature-wrapper mb-30">
                        <div class="feature-title-heading">
                            <h3>Advance Advisor</h3>
                            <span>02</span>
                        </div>
                        <div class="feature-text">
                            <p>Sorem ipsum dolor sitcon sectet adipis icing elit sed do eiusmod tems. incididune.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="feature-wrapper mb-30">
                        <div class="feature-title-heading">
                            <h3>Sports & Gaming</h3>
                            <span>03</span>
                        </div>
                        <div class="feature-text">
                            <p>Sorem ipsum dolor sitcon sectet adipis icing elit sed do eiusmod tems. incididune.</p>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    <!-- about end -->
     <!-- courses start -->
    <div id="courses" class="courses-area courses-bg-height pt-100 pb-70" style="background-image: url( {% static 'img/courses/courses_bg.png' %} );">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="white-color">Top Industries and Institutions</h1>
                        </div>
                        {% comment %} <div class="section-title-para">
                            <p class="white-color">Belis nisl adipiscing sapien sed malesu diame lacus eget erat Cras mollis scelerisqu Nullam arcu liquam here was consequat.</p>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="courses-list">
                <div class="row courses-active">
                    <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href=" {% static 'course_details.html' %} "><img src=" {% static 'img/logo/logo_cii.png' %} " alt="" class="p-3"></a>
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Industry category</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href=" {% static 'course_details.html' %} ">Industry Name</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>About the industry and its MVP.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                                <div class="courses-button f-right">
                                    <a href=" {% static 'course_details.html' %} ">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href=" {% static 'course_details.html' %} "><img src=" {% static 'img/logo/logo_cii.png' %} " alt="" class="p-3"></a>
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Industry category</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href=" {% static 'course_details.html' %} ">Industry Name</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>About the industry and its MVP.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                                <div class="courses-button f-right">
                                    <a href=" {% static 'course_details.html' %} ">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href=" {% static 'course_details.html' %} "><img src=" {% static 'img/logo/logo_cii.png' %} " alt="" class="p-3"></a>
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Industry category</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href=" {% static 'course_details.html' %} ">Industry Name</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>About the industry and its MVP.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                                <div class="courses-button f-right">
                                    <a href=" {% static 'course_details.html' %} ">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href=" {% static 'course_details.html' %} "><img src=" {% static 'img/logo/logo_cii.png' %} " alt="" class="p-3"></a>
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Industry category</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href=" {% static 'course_details.html' %} ">Industry Name</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>About the industry and its MVP.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                                <div class="courses-button f-right">
                                    <a href=" {% static 'course_details.html' %} ">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- courses end -->

    <!-- team start -->
    {% comment %} <div class="team-area pt-95 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color">Our Renowned Industries</h1>
                        </div>
                        <div class="section-title-para">
                            <p class="gray-color">Belis nisl adipiscing sapien sed malesu diame lacus eget erat Cras mollis scelerisqu Nullam arcu liquam here was consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-list">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-thumb">
                                <img src=" {% static 'img/team/teammember1.jpg' %} " alt="">
                            </div>
                            <div class="team-social-info text-center">
                                <div class="team-social-para">
                                    <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                                </div>
                                <div class="team-social-icon-list">
                                    <ul>
                                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                        <li><a href="#"><span class="ti-google"></span></a></li>
                                        <li><a href="#"><span class="ti-linkedin"></span></a></li>
                                    </ul>
                                    <ul>
                                        <li><a herf="#">View Details</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-teacher-info text-center">
                                <h1>Industry Name</h1>
                                <h2>Industry Domain</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-thumb">
                                <img src=" {% static 'img/team/teammember2.jpg' %} " alt="">
                            </div>
                            <div class="team-social-info text-center">
                                <div class="team-social-para">
                                    <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                                </div>
                                <div class="team-social-icon-list">
                                    <ul>
                                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                        <li><a href="#"><span class="ti-google"></span></a></li>
                                        <li><a href="#"><span class="ti-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-teacher-info text-center">
                                <h1>Brenda C. Garcia</h1>
                                <h2>CSE Teacher</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-thumb">
                                <img src=" {% static 'img/team/teammember3.jpg' %} " alt="">
                            </div>
                            <div class="team-social-info text-center">
                                <div class="team-social-para">
                                    <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                                </div>
                                <div class="team-social-icon-list">
                                    <ul>
                                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                        <li><a href="#"><span class="ti-google"></span></a></li>
                                        <li><a href="#"><span class="ti-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-teacher-info text-center">
                                <h1>Marc K. Bruhn</h1>
                                <h2>Math Teacher</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-thumb">
                                <img src=" {% static 'img/team/teammember4.jpg' %} " alt="">
                            </div>
                            <div class="team-social-info text-center">
                                <div class="team-social-para">
                                    <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                                </div>
                                <div class="team-social-icon-list">
                                    <ul>
                                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                        <li><a href="#"><span class="ti-google"></span></a></li>
                                        <li><a href="#"><span class="ti-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-teacher-info text-center">
                                <h1>Mary M. Douglas</h1>
                                <h2>English Teacher</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- team end -->
    <!-- events start -->
    {% comment %} <div id="events" class="events-area events-bg-height pt-100 pb-95 " style="background-image: url( {% static 'img/courses/courses_bg.png' %} )">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="white-color">Forthcoming Events</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-list mb-30 d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">16</span>
                                                <span class="month">Oct, 2022</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Event Title</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="events-para m-5">
                                            <p>Short description about the event spans here.</p>
                                        </div>
                                        <button type="button" class="btn yewello-bg-btn">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">16</span>
                                                <span class="month">Oct, 2022</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Event Title</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="events-para m-5">
                                            <p>Short description about the event spans here.</p>
                                        </div>
                                        <button type="button" class="btn yewello-bg-btn">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                     <div class="events-thumb">
                                        <img src=" {% static 'img/logo/logo_cii.png' %} " alt="">
                                    </div>
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">16</span>
                                                <span class="month">Oct, 2022</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Event Title</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="events-para m-5">
                                            <p>Short description about the event spans here.</p>
                                        </div>
                                        <button type="button" class="btn yewello-bg-btn">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">16</span>
                                                <span class="month">Oct, 2022</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Event Title</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="events-para m-5">
                                            <p>Short description about the event spans here.</p>
                                        </div>
                                        <button type="button" class="btn yewello-bg-btn">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-view-btn">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="view-all-events text-center">
                            <button class="yewello-btn">View all events<span>&rarr;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- events end -->
    <!-- brand start -->
    <div class="brand-area pt-10 pb-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand-list">
                        <ul>
                            <li><img src=" {% static 'img/brand/artha-banner.jpg' %} " class="img-resize" alt=""></li>
                            <li><img src=" {% static 'img/brand/cii_communique-new.jpg' %} "  class="img-resize" alt=""></li>
                            <li><img src=" {% static 'img/brand/msme_initiatives.jpg' %} " class="img-resize"  alt=""></li>
                            <li><img src=" {% static 'img/brand/mycii_logo_a.png' %} " class="img-resize"  alt=""></li>
                            <li><img src=" {% static 'img/brand/policy-watch.jpg' %} "  class="img-resize" alt=""></li>
                            <li><img src=" {% static 'img/brand/Reviving-Economic2021-22-new.jpg' %} "  class="img-resize" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand end -->
    
    
    
    {% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $(".load").slice(0, 2).fadeIn();
            $(".load-more").click(function(){
                $(".load").slice(0, 4).fadeIn();
                $(this).fadeOut();
            });
        });
    </script>
{% endblock %}